<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вітаємо з реєстрацією</title>
</head>
<body style="margin: 0; padding: 0;">

<img src="/images/logs.png" alt="Background image" style="width: 100%; height: 100vh; object-fit: cover; position: fixed; top: 0; left: 0; z-index: -1;">

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">
    <h1>Раді Вашому поверненню!</h1>


    <form action="/" method="get">
        <button type="submit" style="padding: 10px 20px; font-size: 1.2rem; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;">Продовжити</button>
    </form>
</div>
</body>
</html>